.main-menu {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: flex-start;
		text-align: center;
		color: #ffffff;
    margin-block: 5rem;
		// background-color: rgba(0,0,0, .1);
		background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid lightgray;

    .pronto {
      font-size: 14px;
      color: gray;
    }

		@media all and (max-width: 800px) {
			justify-content: space-around;
      margin-block: 4rem;
		}

		@media all and (max-width: 600px) {
			margin-block: 3rem;
		}

		li {
			padding: 0.7rem 2.5rem;
			background-color: rgba(0, 0, 0, 0);
			cursor: pointer;
			z-index: 3;
			border-radius: 7px;


			&:first-child {
				margin-left: 5rem;

				@media all and (max-width: 800px) {
					margin-left: 0;
				}
			}

			&:nth-child(2) {
				margin: 0 5rem;
				@media all and (max-width: 800px) {
					margin: 0 !important;
				}
			}

			&:hover {
				font-weight: 600;
			}

			@media all and (max-width: 1313px) {
				&:nth-child(2) {
					margin: 0 4rem;
				}
			}

			@media all and (max-width: 800px) {
				&:nth-child(2) {
					margin: 0 3rem;
				}
				padding: 0.5rem 2.1rem;
			}

			@media all and (max-width: 800px) {
				font-size: 0 1.4rem;
				padding: 0.3rem 2rem;
				&:nth-child(2) {
					margin: 0 2rem;
				}
			}

			@media all and (max-width: 400px) {
				font-size: 0 1.2rem;
				padding: 0.2rem 1rem;
				&:nth-child(2) {
					margin: 0 1.5rem;
				}
			}

			a {
				text-decoration: none;
				color: black;
				font-size: 1.4rem;
				font-weight: 600;
				margin: 0;
				display: block;
				transition: all 0.5s ease;

				@media all and (max-width: 1313px) {
					font-size: 1.2rem;
				}

				@media all and (max-width: 800px) {
					font-size: 1.1rem;
				}

				@media all and (max-width: 600px) {
					font-size: 0.9rem;
				}
			}
		}

    li:nth-child(2) {
      pointer-events: none;
    }
	}
}

.active-item {
	background-color: var(--color-primary) !important;
	a {
		color: #ffffff !important;
	}
}
