.months-wrapper {
	display: flex;
  gap: 1rem;
	height: auto;
	min-width: 12rem;
	margin: 0 4.5rem;
  height: auto;
  flex-direction: column;
  margin: 3rem auto;

	@media all and (max-width: 800px) {
		flex-direction: column;
		min-width: 8rem;
    gap: 2rem;
    margin: 1rem auto;
	}
}
