.main-wrapper {
	display: flex;
	min-height: 30rem;
	width: 100%;
	gap: 1rem;
	flex-grow: 1;

  margin-top: 1rem;
  // margin-top: 4rem;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: stretch;
  gap: 0;

	@media all and (max-width: 930px) {
		margin-top: 6rem;
		width: 100%;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	@media all and (max-width: 500px) {
		margin-top: 4rem;
		width: 100%;
		justify-content: space-evenly;
	}
}
