.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	color: gray;
	font-size: 11px;
  margin-top: 7rem;

	@media all and (max-width: 1313px) {
		margin-top: 5rem;
		height: 4rem;
	}

	@media all and (max-width: 600px) {
		margin-top: 5rem;
	}
}
