.button {
	transition-duration: 0.4s;
	text-transform: capitalize;
	letter-spacing: 3px;
	border: 1px solid white;
	font-size: 20px;
	padding: .5rem 0.3rem;
	margin: .33rem 0.5rem;
	min-width: 10rem;
	color: var(--color-primary);
	font-weight: 600;
	cursor: pointer;
	border-radius: 7px;
	background-color: var(--color-primary);
	color: #fff;
  border-top: 3px solid;
  border-top-color: var(--color-orange);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;;
  align-items: center;
	&:hover {
		font-weight: bolder;
	}

  .icon {
    margin-left: 2rem;
  }
}
